@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    
    margin:0 auto;
    height: 0 auto;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
 } 
 body{
   
    background-color: rgb(145, 142, 136);
    background-color: rgba(255, 255, 255, 0.973);
    background-size: 0 0, 10px 10px;
    min-height: 100vh;
}
p.cajaBienvenido {
    font-size: 50px;
}

#btnWelcome {
    height: 50px;
    font-size: 20px;
    width: 220px;
    margin: 40px 0px;
    border-radius: 10px;
    border: solid 0px;
    cursor: pointer;
}
#welcome{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #ffffff, #e8f0ff, #c1e6ff, #8bdff9, #4bd7e1, #34cecf, #1cc5bd, #00bba9, #00b0a8, #00a5a5, #0099a1, #008e9b);
}
/*formulario de la tarjeta*/

.formulario-Tarjeta{
    background:solid rgb(255, 255, 255);
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    box-shadow:0 5px 10px -5px black ;/*espaciado entrecada elelento*/
    text-align: center;
    margin-top: 7%;
    display: 2.5em;
    background: white;
    gap:2.5em;/*separa las cajitas*/
} 
.formulario-Tarjeta__grupo{
    position: relative;
     --color: #575757;
 }   
.form__input{
     width: 100%;
    background: none;
    color:#706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline:none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}
.form__imput:focus + form__label{
    color:rgba(0, 0, 0, 0.959)

}
.form__label{
    color: var(--color);
    cursor: pointer;/*para cuando pasen el mause*/
    position: absolute;
    top:0;
    left: 5px;
    transition: transform .5s color .3s;
    transform: translateY(10px);
} 
.button-continuar{
    background: #37c4ceec;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0.8em 0;
    border-radius: 0.5em;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    font-size: solid 0px;
    border: solid 0px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #37c4ceec;
}
.formulario-Tarjeta__cabeza{
    font-size: 2rem;
    margin-bottom: .5em;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.flex-Ema__Fecha{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.grupoSelect{
    display: inline-block;
}
.formulario-Tarjeta__flex-Ema--Expiración{
    display: inline-block;
    width: 100%;
   
}
#boxForm{
    height: 100vh;
    width: 100%;
    display: none;
    overflow-y:hidden;
    background-image: linear-gradient(to top, #ffffff, #e8f0ff, #c1e6ff, #8bdff9, #4bd7e1, #34cecf, #1cc5bd, #00bba9, #00b0a8, #00a5a5, #0099a1, #008e9b);
}
#btnRegreso {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 8%;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: solid 0.5px;
}
/* tarjeta*/

.contenedor2{
    width: 70%;
    max-width: 700px;
    padding: 40px 20px;
     background:url(https://i.pinimg.com/564x/e4/20/1f/e4201fc53efaa0f32167b16b0c2fcd98.jpg);
    border-radius: 15px;
    justify-content: center;
    min-height: 400px;
    padding: 5%;
    overflow-y:hidden;
    box-shadow: 0 5px 10px -5px black;
}
.contenedor> div{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction:column;
    box-sizing:0 10px 10px 0 rgba(90, 148, 90, 0.3);
}
.tarjeta__img>img{
    width: 15%;
    margin-bottom: 5%;
}
.tarjeta .label{
    font-size: 30px;
    color:var(--color);
    margin-bottom: 5px;
}
/* .grupo{
    width: 100%;
} */

.grupo{
    margin-left: 20px;
}
.aparece-numero{
    height: 25px;
}
.tarjeta .grupo .aparece-numero,
.tarjeta .grupo .aparece-nombre,
.tarjeta .grupo .aparece-expiracion{
    color:#fff ;
    font-size: 22px;
    text-transform: uppercase;

}
.tarjeta .flexbox-NomExp{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#boxTarjeta{
    height:100vh;
    width: 100%;
    display: none;
    overflow-y:hidden;
    padding: 6%;
}